* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Courier New', Courier, monospace;
}

.locationInfo {
    background-color: transparent;
    height: 97vh;
    width: max(40vw, 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2vh;
    padding-top: 2vh;
    gap: 5vh;
}

.detailed-weatherInfo {
    background-color: transparent;
    height: 97vh;
    width: max(40vw, 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.weatherInfo {
    background-color: transparent;
    height: 97vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeInfo {
    background-color: transparent;
    height: 32vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: transparent;
    height: 3vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: none;
    font-size: min(3vw, 1rem);
}

.icon {
    height: 20px;
    width: 20px;
}

.clickable:hover {
    cursor: pointer;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-info-description {
    font-size: min(8vw, 2em);
    text-align: right;
}

.weather-info-city {
    font-size: min(4vw, 1em);
    text-align: right;
}

.weather-info-temperature {
    font-size: min(8vw, 4em);
    text-align: right;
}

.weather-info-search-box {
    background-color: transparent;
    border: none;
    width: max(25vw, 200px);
    display: flex;
    justify-content: right;
}

.hidden {
    display: none;
}

input[type=text] {
    background-color: rgba(83, 74, 74, 0.5);
    border: none;
    border-radius: 50px;
    height: 2vh;
    text-align: center;
}

input[type=text]::placeholder {
    color: white;
}

.weather-info-unit {
    display: flex;
    font-size: min(2vh, 2em);
    width: max(25vw, 200px);
    gap: 1vw;
    justify-content: left;
    align-items: flex-start;
}

.weather-info-title {
    font-size: min(2vh, 0.5em);
}

.card-container {
    overflow-x: scroll;
    white-space: nowrap;
    width: 90%;
    text-align: center;
}

.card {
    border: white 2px solid;
    color: white;
    margin-top: 2vh;
    height: 25vh;
    width: 11vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding-top: 1vh;
    border-radius: 3rem;
    overflow: hidden;
}

.card>.hourly-time {
    font-size: 2em;
    text-decoration: underline green;
}

.card>.hourly-temperature {
    font-size: 1.7em;
}

.card>.daily-day {
    text-decoration: underline;
    font-size: 2em;
}

.card>.daily-temp-high {
    color: red;
    font-size: 1.8em;
}

.card>.daily-temp-low {
    color: blue;
    margin-top: -2vh;
}

button {
    width: 5vw;
    border-radius: 2rem;
    border: none;
}

button:hover {
    background-color: grey;
    cursor: pointer;
}

.selected {
    background-color: lightgreen;
}

.fix-padding {
    width: max(25vw, 200px);
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: end;
    align-items: flex-end;
}